<%- include('partial/header'); -%>

        <main>
            <div class="jumbotron">
                
            </div>
        </main>

        <footer>
            <%- include('partial/footer'); -%>
        </footer>

    </body>
</html>